@model inventory_management_system.Models.InventoryTransaction

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>InventoryTransaction</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ReferenceID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReferenceID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ReferenceType)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReferenceType)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TransactionType)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TransactionType)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UpdatedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Product.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Product.Name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
